# compiled output
/dist
/node_modules

# environment variables
.env
.env.local
.env.*.local

# logs
logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/*
.idea

# testing
/coverage
/api_test

# Prisma
prisma/migrations/**/migration_lock.toml
/generated/prisma
